.project {
    height: auto;
    background-color: #232323;
    color: #be1739;
}

.articles-pad{
    padding: 1.5em
}

.titre{
    font-family: 'Oxygen Mono', monospace;
    font-weight: 700;
    margin: 1.5em;
}

.titre-project{
    font-weight: 500;
}

.vertical-center{
    font-family: 'Oxygen Mono', monospace;
    font-size: 1.5em;
    margin: auto;
    text-align: center; 
    padding: 0 10px;
    width: 45%;
}

@media (min-width: 576px) {
    .no-padd{
        padding: 1rem !important;
    }
}